---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("docs");
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<div class="p-10">
  <h1 class="text-6xl mb-8">{article.data.title}</h1>
  <div class="prose prose-lg">
    <Content />
  </div>
</div>
