---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("docs");
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();

console.log(article);
---

<h1>{article.data.title}</h1>
<Content />
